[Unit]
Description=Backend application
After=network.target
Requires=mysql.service

[Service]
Type=simple
WorkingDirectory=/{{ backend_user }}
User={{ backend_user }}
ExecStart=/home/{{ backend_user }}/.local/bin/gunicorn wsgi:app -b 0.0.0.0:5000
Restart=always

[Install]
WantedBy=multi-user.target
